.cvBuilderPageContainer {
  display: flex;
  flex-direction: column;
  height: inherit;
  .headerContainer {
    background-color: #1e69cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: inherit;
      }
    }
    .backButton {
      font-size: 40px;
    }
  }
  .userActionContainer {
    display: flex;
    .signoutLinkContainer {
      color: white;
      font-weight: bold;
      font-family: "Helvetica Neue", Helvetica, Arial;
      text-decoration: underline;
      font-size: 17px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  .MuiTabs-root {
    background-color: #1e69cd69;
    color: black;
    font-weight: bold;
  }
}
