.cvLayoutsPageContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: gray;
  a {
    text-decoration: none;
    color: black;
  }
  .cardContainer {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px black;
    user-select: none;
    font-size: 19px;
    text-align: center;
    &:active {
      background-color: lightgray;
      box-shadow: none;
    }
  }
  &.hideThisTab {
    display: none;
  }
}
